body, html {
    margin: 0;
    height: 100%;
}

.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    background-color: #2da2cd;
    /*background-image: url('../assets/img/books.jpg');*/
    /*background-size: cover; !* Set the background image to cover the entire container *!*/
    /*background-position: center; !* Center the background image *!*/
}

.authentication-box {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 400px;
    padding: 40px; /* Add padding to the container */
    text-align: center;
    background-color: rgba(242, 242, 242, 0.7); 
}

#googleBtn {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    font-size: 17px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#submitButton, #registerButton {
    background-color: #2f7ef5;
    color: white;
}

#googleIcon {
    font-weight: bolder;
    font-size: 30px;
    color: #ebc351;
}